/* button.css */

button {
    background-color: #0000ff;
    color: #ffffff;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  